.husky-img {
  animation-name: zoomOut;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  width: 70%;
  display: block;
  margin: 5rem auto 0 auto;
}

@keyframes zoomOut {
  from {
    width: 20%;
  }

  to {
    width: 120%;
    margin: 0 auto 0 auto;
  }
}
